<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans">
        <link rel = "stylesheet" href = "static/style.css">
        <Title>MediCare</Title>
    </head>
    <body>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/finddoctors">Find Doctors</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <br>
        <br>
        {{table}}
    </body>
</html>
